

.hero-image {
  background-image: url('bootstrap.fotolar/arka\ plan.b.jpg'); /* fotoğraf yolu */
  background-size: cover;      /* taşmadan tüm alanı kaplar */
  background-position: center; /* ortalar */
  background-repeat: no-repeat;
  width: 100%;                 /* tam genişlik */
  height: 100vh;               /* viewport yüksekliği = tam ekran */
  position: relative;
  align-items: center;
  display: flex;
}

.hero-content{
  margin-left: -2%;
  position: static;
  font-family: 'Courier New', Courier, monospace;
  bottom: 30%;
  
}


.hero-content h1 {
    font-size: 270%;
    margin-bottom: 2%;
    margin-right: 2%;
    text-align: center;
}


.hero-content p {
   font-size: 110%;
   margin-bottom: 2%;
   margin-left: 7% ;
   text-align: center;

}
.hero-content a {
   font-size: 110%;
   margin-bottom: 2%;
   margin-left: 40%;
   border-radius: 28px;
   transition: all 0.5s ease;
   

}
.hero-content a:hover {
   font-size: 110%;
   margin-bottom: 2%;
   margin-left: 40%;
   border-radius: 28px;
   letter-spacing: 3px;
   background-color: transparent;
   color: black;
   

}


.navrenk{
    opacity: 0.9;
}






.hero-image-2 {
  background-image: url('bootstrap.fotolar/arkaPlan2.jpg'); /* ikinci fotoğraf */
  height: 100vh;             /* tam ekran */
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  align-items: center;
  display: flex ;
}
/* Ortadaki içerik için aynı stil */
.hero-image-2 .hero-content {
  position: absolute;
  
  color: white;
  
  
}
.hero-content h1 {
    font-size: 280%;
    margin-bottom: 2%;
    margin-left: 8%;
    text-align: center;
}

.hero-image-2 .hero-content a {
   font-size: 1.2rem;
   margin-bottom: 25px;
   margin-left: 40%;
   

}
.hero-image-2 .hero-content a:hover {
   font-size: 1.2rem;
   margin-bottom: 25px;
   margin-left: 40%;
   background-color: transparent;
   color: white;
   

}





.hero-image-3{
    background-image: url(bootstrap.fotolar/arkaPlan4.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    align-items: center;
    display: flex;
}
.hero-image-3 .hero-content{
    position: absolute;
    margin-left: 17rem;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 5rem;
    font-family: 'Courier New', Courier, monospace;
}
.hero-image-3 .hero-content h1 {
   font-size: 4rem;
   margin-bottom: 5px;
   margin-left: -2rem ;
}
.hero-image-3 .hero-content p {
   font-size: 1.6rem;
   margin-bottom: 15px;
   margin-left: -2rem ;
   color: aliceblue;
}
 .hero-image-3 .hero-content a {
   font-size: 1.2rem;
   margin-bottom: 25px;
   margin-left: -1rem;

}


.hero-image-4{
    background-image: url(bootstrap.fotolar/arkaPlan3.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero-image-4 .hero-content{
    position: absolute;
    
    
    color: rgb(0, 0, 0);
}

.hero-image-4 .hero-content a {
   font-size: 1.2rem;
   margin-bottom: 25px;
   margin-left: 45%;
   

}
.hero-image-4 .hero-content a:hover {
   font-size: 1.2rem;
   margin-bottom: 25px;
   margin-left: 45%;
   background-color: transparent;
   color: black;
   

}




a i:hover{
  color: rgb(94, 94, 94);
  font-size: 25px;
}
.renk a:hover{
  color: rgb(94, 94, 94) !important;
  font-size: 17px;
  
}


/* Scrollbar genel alanı */
::-webkit-scrollbar {
  width: 10px; /* çubuğun genişliği */
}

/* Scrollbar arkası (track kısmı) */
::-webkit-scrollbar-track {
  background: #2b2b2b; /* arka plan rengi */
  border-radius: 10px;
}

/* Scrollbar kaydırma kısmı (thumb kısmı) */
::-webkit-scrollbar-thumb {
  background: #888; /* rengi */
  border-radius: 8px;
  transition: all 0.3s ease;
}

/* Hover durumunda */
::-webkit-scrollbar-thumb:hover {
  background: #c9c9c9; /* fare üstüne gelince koyulaşır */
}





.contact-bar {
  background-color: #000000;
  color: #fff;
  padding: 30px 0;
}

.social-icons i {
  color: #f5f5f5 !important;
  margin: 0 10px;
  font-size: 22px;
  transition: color 0.3s ease;
}

.social-icons a {
  color: #f5f5f5 !important;
  margin: 0 10px;
  font-size: 22px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #fff;
}
.bitis p{
    margin-right: 2%;
  }

/* ! Telefon görünümü aşşağıda */

@media (max-width: 768px) {
  .hero-content {
    position: static;       /* absolute kalksın */
    text-align: center;     /* yazılar ortalansın */
    margin: 0 auto;         /* ortada hizala */
    bottom: auto;
    color: rgb(255, 255, 255);
  }

  .hero-content h1 {
    font-size: 2rem;        /* daha küçük başlık */
    margin: 0;
  }

  .hero-content p {
    font-size: 1rem;
    margin: 10px 0;
  }

  .hero-content a {
    font-size: 1rem;
    margin: 10px 0;
    background-color: transparent !important;
    color: rgb(255, 255, 255);
    border: 1px solid white
  
  }
  .hero-content a:hover {
    font-size: 1rem;
    margin: 10px 0;
    border: 1px solid white;
    color: rgb(255, 255, 255);
  
  }
 
  /* 2. kısım */

  .hero-image-2 .hero-content {
    position: static;       /* absolute kalksın */
    text-align: center;     /* yazılar ortalansın */
    margin: 0 auto;         /* ortada hizala */
    bottom: auto;
  }

  .hero-image-2 .hero-content h1 {
    font-size: 2rem;        /* daha küçük başlık */
    margin: 0;
  }

  .hero-image-2 .hero-content p {
    font-size: 1rem;
    margin: 10px 0;
  }

  .hero-image-2 .hero-content a {
    font-size: 1rem;
    margin: 10px 0;
  }
  .hero-image-2 .hero-content a:hover {
    font-size: 1rem;
    margin: 10px 0;
  }

  /* sonradan 4. kısım */
  .hero-image-4 .hero-content {
    position: static;       /* absolute kalksın */
    text-align: center;     /* yazılar ortalansın */
    margin: 0 auto;         /* ortada hizala */
    bottom: auto;
    padding-top: 300px;
  }

  .hero-image-4 .hero-content h1 {
    font-size: 2rem;        /* daha küçük başlık */
    
  }

  .hero-image-4 .hero-content p {
    font-size: 1rem;
    margin: 10px 0;
  }

  .hero-image-4 .hero-content a {
    font-size: 1rem;
    margin: 10px 0;
    background-color: transparent;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    font-size: 105%;
  }
  .hero-image-4 .hero-content a:hover {
    font-size: 1rem;
    margin: 10px 0;
    background-color: white;
    color: black;
  }
  
  .bitis p{
    margin-right: 10%;
  }
}




/* ! -------> Ara boyutlar için aşşağıdaki olacak <----- */

/* Tablet / küçük laptop görünümü */
@media (min-width: 769px) and (max-width: 1024px) {

  .hero-content {
    position: static;       /* absolute kalksın */
    text-align: center;     /* yazılar ortalansın */
    margin-right: 30%;         /* ortada hizala */
    bottom: auto;
    color: rgb(0, 0, 0);
  }

  .hero-content h1 {
    font-size: 2rem;        /* daha küçük başlık */
    margin: 0;
  }

  .hero-content p {
    font-size: 1rem;
    margin: 10px 0;
  }

  .hero-content a {
    font-size: 1rem;
    margin: 10px 0;
    background-color: transparent !important;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    transition: all 0.5s ease;
    
    
  
  }
  .hero-content a:hover {
    font-size: 1rem;
    margin: 10px 0;
    
    color: rgb(0, 0, 0);
    letter-spacing: 4px;
  
  }
 
  /* 2. kısım */

  .hero-image-2 .hero-content {
    position: static;       /* absolute kalksın */
    text-align: center;     /* yazılar ortalansın */
    margin-right: 60%;         /* ortada hizala */
    bottom: auto;
  }

  .hero-image-2 .hero-content h1 {
    font-size: 2rem;        /* daha küçük başlık */
    margin: 0;
  }

  .hero-image-2 .hero-content p {
    font-size: 1rem;
    margin: 10px 0;
  }

  .hero-image-2 .hero-content a {
    font-size: 1rem;
    margin: 10px 0;
    background-color: transparent !important;
    color: aliceblue;
    border: 1px solid rgb(255, 255, 255)
  }
   .hero-image-2 .hero-content a:hover {
    font-size: 1rem;
    margin: 10px 0;
    
    color: rgb(255, 255, 255);
    
  }

  /* sonradan 4. kısım */
  .hero-image-4 .hero-content {
    position: static;       /* absolute kalksın */
    text-align: center;     /* yazılar ortalansın */
    margin-right: 90%;        /* ortada hizala */
    margin-top: 30%;
    
  }

  .hero-image-4 .hero-content h1 {
    font-size: 2rem;        /* daha küçük başlık */
    
  }

  .hero-image-4 .hero-content p {
    font-size: 1rem;
    
  }

  .hero-image-4 .hero-content a {
    font-size: 1rem;
    margin: 10px 0;
  }


  .hero-image-4 .hero-content a:hover {

    font-size: 1rem;
    margin: 10px 0;
  }



  .bitis p{
    margin-right: 5%;
  }
}
.cardim{
  margin-top: 5%;
  border: none;
  background-color: #6c6c6c;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
  border-radius: 30px;
  box-shadow: 0 1px 20px rgb(255, 255, 255);
  
}

.about-card{
  background: url('bootstrap.fotolar/fotoKumaş.jpg') no-repeat center center/cover;
  min-height: 80vh; /* sadece bu kısmı kapsar */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

